{%extends 'base.html'%}
{%block head%}
<script>
	//输入数值验证
	$(function () {
	    error_name = false;
	    error_pwd = false;
		$('form').submit(function () {
			$('#user_name').blur();
			$('#user_pwd').blur();
			return error_name && error_pwd;
        });
		//失去焦点
		$('#user_name').blur(function () {
			name_len = $(this).val().length;
				if (name_len<3 || name_len>20){
					$('.user_error').html('请输入3-20个字符的用户名').show();
					error_name = false;
				}
				else{
					$('.user_error').html('').hide();
					error_name = true;
				}
		});

		$('#user_pwd').blur(function () {
			pwd_len = $(this).val().length;
				if (pwd_len<3 || pwd_len>20){
					$('.pwd_error').html('密码最少3位，最多20位').show();
					error_pwd = false;
				}
				else{
					$('.pwd_error').html('').hide();
					error_pwd = true;
				}
		});
		//根据error_name/pwd判断焦点（相比较上面方法不会出错）
		//双大括号在JS中会报错但能正常运行
		//在模板render渲染时执行
		if('{{error_name}}'!=''){
		    $('.user_error').html('{{error_name}}').show();
		}

		if('{{error_pwd}}'!=''){
		    $('.pwd_error').html('{{error_pwd}}').show();
		}
	});
</script>
{%endblock head%}

{%block body%}
	<div class="login_top clearfix">
		<a href="../ttgoods/index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register">立即注册</a>
				</div>
				<div class="form_input">
					<form method="post" action="/user/login_handle/">
						{%csrf_token%}
						<input type="text" name="user_name" class="name_input" id="user_name" value="{{uname}}" placeholder="请输入用户名">
						<div class="user_error"></div>
						<input type="password" name="user_pwd" class="pass_input" id="user_pwd" value="{{upwd}}" placeholder="请输入密码">
						<div class="pwd_error"></div>
						<div class="more_input clearfix">
							<!--只有被选中才能传键值（即使有name，value）-->
							<input type="checkbox" name="user_rember" value="1" checked="checked">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
{%endblock body%}
